{% extends 'base.html' %}

{% load static %}

{% block title %}
Вебинариум
{% endblock %}
{% block content %}

<div class="container osn-text text-center">
    <div class="row">
        <h1 class="text-center">Добро пожаловать на сайт "Вебинариум"!</h1>
    </div>
    <div class="row">
        <p>Вы находитесь на тестовой странице сайта проекта Вебинариум</p>
    </div>
</div>

<div class="container">
    <p>Интересные события, которые произошли недавно</p>
    <div class="row">
        {% for event in events.all %}
            <div class="col-9 mx-auto col-md-6 col-lg-3">
                <div class="card mb-5">
                    <img class="card-img-top" style="height:150px; width:150px;" src="{{event.image.url}}" alt="{{event.name}}">
                    <div class="card-footer d-flex-justify-content-between" style="background: transparent;border-color: transparent;">
                        <a href="{{event.href}}" class="text-dark">
                            <p class="font-weight-bold md-0">
                                {{event.name}}
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}